.container{
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
}
.container1{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

}
.getstarted{
    color: white;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 30px;
}
.container2{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}
.aboutus{
    color: white;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 30px;
}
.container3{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}
.support{
    color: white;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 30px;
}
.container4{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}
.information{
    color: white;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 30px;
}
.container6{
    background-color: rgb(71, 70, 70);
    width: 100%;    
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
}
.logo{
    color: white;
    padding: 20px;
    font-size: 25px;
    width: 100%;

}
.container5{
    display: flex;
    padding: 30px;
    padding-right: 200px;
    padding-left: 200px;
}
.item{
    color: white;
    padding: 10px;
    font-size: 10px;
}
.item1{
    color: white;
    display: flex;
    padding: 10px;
    font-size: 10px;
}
.icons{
    color: gray;
    display: flex;
    padding: 15px;
}
.icon{
    color: gray;
    padding: 10px;
}
.icon:hover{
    color: rgb(49, 49, 199);
}
@media only screen and (max-width: 900px) {
    .container5{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .container1, .container2, .container3, .container4{
        display: flex;
        align-items: flex-start;
    }
}
    @media only screen and (max-width: 400px) {
        .container5{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        .container1, .container2, .container3, .container4{
            display: flex;
            align-items: center;
            justify-content: center;
        }
}
