@media only screen and (min-width:1200px) {
    .kopke {
        z-index: 1;
    }

    /*XL*/
    .kopke {
        position: relative;
        top: 250px;
        right: 160px;
    }
}

@media only screen and (min-width:1538px) {

    /*XL*/
    .kopke {
        left: 500px;
    }
}

.logincontainer {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(3, 3, 46);
    align-items: center;
    width: 210px;
    height: 250px;
    padding: 35px;
    border-radius: 10px;
    background-color: #ff9a3c;
    position: relative;
    z-index: 2;
}

.login-background {
    background-color: #155263;
}

.loginbutton {
    font-family: fantasy;
    height: 30px;
    width: 90px;
    margin: 5px;
}
.registerbutton {
    font-family: fantasy;
    height: 30px;
    width: 90px;
    margin: 5px;
}
.error-message {
    font-size: 11px;
    text-align: center;
}
.username{
    height: 300px;
}
.password{
    height: 300px;
}
.buttons{
    display: flex;
    flex-direction: row;
    margin: 60px;
}


