@media only screen and (min-width:1200px) {
    .kopke {
        z-index: 1;
    }

    /*XL*/
    .kopke {
        position: relative;
        top: 250px;
        right: 160px;
    }
}

@media only screen and (min-width:1538px) {

    /*XL*/
    .kopke {
        left: 500px;
    }
}



.logincontainer {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(3, 3, 46);
    align-items: center;
    width: 210px;
    height: 250px;
    padding: 35px;
    border-radius: 10px;
    background-color: #ff9a3c;
    position: relative;
    z-index: 2;
}

.login-background {
    background-color: #155263;
}

.username-password {
    font-family: fantasy;
    position: relative;
    z-index: 2;
}

.loginbutton {
    margin-top: 200px;
    font-family: fantasy;
    position: absolute;
    border-radius: 10px;
    padding: 4px;
}

.error-message {
    font-size: 11px;
    text-align: center;
}

.registerbutton {
    margin-top: 240px;
    font-family: fantasy;
    position: absolute;
    border-radius: 10px;
    padding: 4px;
}

