.flag{
    width: 250px !important;
    margin: 15px !important;
}
.headercell{
    color: brown !important;
    font-size: 20px;
    text-align: center!important;
}
.tablecell{
    font-size: 15px;
    
}
.products-table {
    width: 100vw;
    margin-bottom: 1rem;
}
.products-table-container {
    width: 100vw;
}
