.button{
    background-color: orange;
    border: none;
    color: white;
    padding: 8px 10px;
    font-size: 15px;
    margin: 50px 50px;
    border-radius: 30px;
}
.calculate{
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    align-items: center;
    border-radius: 20px;
    border: 2px;
}
.birthdate{
    padding: 40px;
}
